h1 {
        background: red;
}

.paragraph-1 {
    background: pink;
    font-size: 32pt;
    color: green
}
.paragraph-2 {
    border: 10px solid yellow;
    border-radious: 15px;
    font-size: 24pt
}
.paragraph-3 {
    font-weight: bold;
    font-size: 22pt;
    font-family: Courier New
}
img {
 width: 100%;
 height: auto;
}
.paragraph-4 {
    font-size: 24px;
    text-shadow: green 0 -2px;
    text-align: center;
}